{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block content %}

{% if not is_granted('ROLE_ADMIN') %}

    <a href="{{ path('make_admin')}}" class="btn btn-success">
        Je suis admin !!!
    </a>

    {% else %}

    <p>WELCOME ADMIN</p>

    {% endif %}

{% endblock %}
